@font-face {
  font-family: 'Alternate Gothic';
  src: url('/fonts/alternate-gothic-no1-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  color-scheme: dark;
}
